<!DOCTYPE html>
<html>
  <head>
    <title>About Ruby on Rails Project</title>
  </head>
  <body>
    <div align="center" width="600px" >
      <section>
        <p>
          <%= image_tag 'rails-logo.png' %>
         </p>
      </section>
      <section>
        <h2>About Ruby on Rails Project</h2>
        <p width='500px'>Ruby on Rails is open source software, so not only is it free to use, you can also help make it better. More than 4,200 people already have contributed code to Rails. It’s easier than you think to become one of them.</p>
        <p>
        <%= link_to 'Home', root_path%>
        </p>
      </section>
    </div>
  </body>
</html>