<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Project Home</title>
  </head>
  <body>
    <div align="center">
      <section>
        <p>
          <%= image_tag 'rails-logo.png' %>
         </p>
      </section>
      <section>
        <h1>Welcome to Ruby on Rails Project</h1>
        <p width='500px'>Learning to build a modern web application is daunting. Ruby on Rails makes it much easier and more fun. It includes everything you need to build fantastic applications.</p>
        <p>
        <%= link_to 'About', about_path%>
        </p>
      </section>
    </div>
  </body>
</html>